body { margin: 0; background: #0e1621; color: white; font-family: sans-serif; }
#auth-screen { height: 100vh; display: flex; align-items: center; justify-content: center; }
.card { background: #17212b; padding: 30px; border-radius: 15px; display: flex; flex-direction: column; gap: 15px; width: 280px; }
input { padding: 12px; border-radius: 8px; border: 1px solid #333; background: #242f3d; color: white; outline: none; }
button { padding: 12px; background: #40a7e3; border: none; border-radius: 8px; color: white; cursor: pointer; font-weight: bold; }
.pass-box { position: relative; display: flex; flex-direction: column; }
.pass-box i { position: absolute; right: 10px; top: 13px; color: #84919a; cursor: pointer; }
p { color: #40a7e3; cursor: pointer; text-align: center; font-size: 14px; }
