body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1f22;
}

#chat-container {
    width: 90vw;
    max-width: 1000px;
    height: 85vh;
    background: #313338;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    overflow: hidden;
}

header {
    background: #2b2d31;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #232428;
}

main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#messages {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#online-sidebar {
    flex: 1;
    background: #2b2d31;
    padding: 20px;
    border-left: 1px solid #232428;
}

/* Пузыри сообщений */
.message {
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 70%;
    line-height: 1.4;
}

.my-message {
    align-self: flex-end;
    background: #5865f2;
    color: white;
    border-bottom-right-radius: 2px;
}

.other-message {
    align-self: flex-start;
    background: #383a40;
    color: #dbdee1;
    border-bottom-left-radius: 2px;
}

.msg-user {
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #fff;
}

#input-area {
    padding: 20px;
    background: #313338;
    display: flex;
    gap: 10px;
}

#msg-input {
    flex: 1;
    background: #383a40;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: white;
    outline: none;
}

#send-btn {
    background: #5865f2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

#send-btn:hover { background: #4752c4; }